*{padding: 0; margin: 0;border:0;font-family:"Arial", sans siref;}
.clear{
  clear: both;
}
body{
	background:#f4f4f4;
}
.main{
	padding-top: 50px;
	width:1250px;
	margin:auto;
}
.header{
	background:#fff;
	height: 140px;
	border: 1px;
	border-radius: 15px 15px 0 0;
}
.logo{
	width: 420px;
	margin:20px 0 20px 10px;
	border-right:#cbcbcb solid 1px;
	float:left;
}
.logo p{
	padding-top: 20px;
	padding-left: 25px;
	width: 160px;
	float: left;
	font-size: 14px;
	text-align: center;
}
.logo_l{
	width: 200px;
	height: 100px;
	display: block;
	float: left;
	background-image: url(/image/logo.png);
}
.inform{
	width: 420px;
	float:left;
	border-right:#cbcbcb solid 1px;
}
.inform{
	padding-top: 20px;
	margin:20px 0 20px 10px;
	text-align: center;
}
.time{
	padding-bottom: 10px;
}
.phone{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}
.connect{
	display: block;
	float: left;
	width: 120px;
	padding-left: 15px;
	font-size: 12px;
	text-decoration: underline;
	color: currentColor;
}
.connect:hover{
	text-decoration:none;
}
.nav{
	margin-top: 40px;
}
.nav a{
	font-size: 14px;
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
	text-decoration: none;
	border-right: 1px;
}
.nav a:hover{
	text-decoration: underline;
}
